<div id="lyric-dialog" ng-click='$ctrl.open($event)'>
</div>

<div ng-show="$ctrl.show">
  <div class="lyric-dialog">
    <div class="page-overlay" ng-click="$ctrl.show=false"></div>
    <a href="" ng-click="$ctrl.show=false">
      <i class="fa fa-remove pull-right"></i>
    </a>
    <div class="lyric-dialog-content" data-slim-scroll>
      <div ng-repeat="lyric in $ctrl.currentPlaying.lyrics track by $index" class="lyric-text" ng-click="$ctrl.lyricSeekTrack($index)">
        <span ng-repeat="(position, text) in lyric" ng-class="{'highlight': (text == $ctrl.currentLyric && position == $ctrl.currentTime)}">
          {{text}} </span>
      </div>
      <p ng-hide="$ctrl.currentPlaying.lyrics.length">no lyrics available</p>
    </div>
  </div>
</div>