.lyric-dialog {
  background-color: #888888;
  color: #fff;
  box-shadow: 6px 6px 40px -17px #888888;
  min-width: 300px;
  max-width: 600px;
  position: fixed;
  top: 65px;
  left: 240px;
  bottom: 0;
  padding: 16px;
  z-index: 1;
  font-size: 13px;
}

.lyric-dialog-content .lyric-text {
  line-height: 26px;
  padding: 10px;
}

.lyric-dialog-content .lyric-text span:hover {
  cursor: pointer;
}

.lyric-dialog .page-overlay {
  z-index: 0;
  opacity: 0.8;
  background-color: #aaa;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}