.play-pause-button{
  position: absolute;
  top: -2px;
  left: 0;
}

.play-pause-button .btn{
  padding: 6px 18px;
  border-radius: 20px;
}

.top-header .top-nav .nav-left>li>a.billingual {
  font-size: 15px;
}
.top-header .top-nav .nav-left>li>a.billingual:hover {
  cursor: pointer;
  color: #008621;
}
.logo {
  display: inline-block;
  position: relative;
  width: 100px;
  float: left;
}
.logo >a.logo-link {
  width: 90px;
}
.logo-link img{
  width: 100%;
}
.logo-search {
  width: 100%;
  padding: 5px;
  margin: 0;
  position: relative;
  float: none;
  width: 100%;
  margin: 5px 0 0;
}
.logo-search .icon {
  left: 24px;
  top: 16px;
}
.top-header {
  z-index: 12;
}

.top-header .top-nav {
  padding: 0;
}

.panel-profile .panel-heading .profile_info .profile-image img{
  border-color: #008621;
}